* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#okno {
   font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
   background: cadetblue;
   /*background-attachment: fixed;*/
   background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: #313131;
   min-height: 100vh;
   font-family: "Roboto", Helvetica;
   font-size: 18px;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
a {
   color: #242e31;
   text-decoration: none;
   font-weight: 600;
}
header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 20;
   height: 90px;
   background: white;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
   display: flex;
   padding: 5px 0;
   align-items: center;
   justify-content: space-between;
}
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   padding: 10px;
   position: relative;
}
.content-wrapper {
   width: 100%;
}
.header__nav {
   position: absolute;
   right: 36px;
   display: block;
}
.header__menu {
   display: flex;
   position: relative;
   z-index: 2;
}
.header__menu li {
   list-style: none;
   margin: 0px 0px 0px 36px;
   font-size: 16px;
   text-transform: uppercase;
   text-decoration: none;
}
.content-wrapper {
   margin-top: 78px;
   padding: 10px;
   line-height: 34px;
}
.header__logo {
   height: 40px;
   position: absolute;
   left: -275px;
   top: -48px;
}
.header__logo:hover {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.6s ease;
   -webkit-transform: rotateZ(-20deg);
   -ms-transform: rotateZ(-20deg);
   transform: rotateZ(-20deg);
}
.menu__item:hover {
   color: cadetblue;
   transition: all 0.3s ease;
}
.email {
   display: flex;
   margin-top: -18px;
   padding: 17px 24px;
   width: 201px;
   height: 50px;
   background: #1e2532;
   border-radius: 10px;
   color: white;
   opacity: 1;
}
.email:hover {
   opacity: 0.8;
   transition: all 0.5s ease 0s;
}
.photo__main {
   margin: auto;
}
.photo__group {
   max-width: 1200px;
   max-height: 1100px;
}
#zatemnenie {
   background: rgba(102, 102, 102, 0.801);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: none;
   position: fixed;
   z-index: 100;
}
#okno {
   width: 30%;
   height: 45%;
   text-align: center;
   padding: 15px;
   border: 1px solid black;
   border-radius: 10px;
   color: black;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   background: #fff;
   position: fixed;
   z-index: 100;
}
#zatemnenie:target {
   display: block;
   position: fixed;
}
.close {
   cursor: pointer;
   position: relative;
   display: flex;
   justify-content: flex-end;
   top: -35px;
   left: 13px;
   height: 40px;
}
input {
   border: 2px solid #000;
   margin-bottom: 20px;
   height: 30px;
}
.button {
   border-radius: 10px;
   color: white;
   background-color: black;
   height: 50px;
   width: 60%;
   font-size: 20px;
}
.active__menu {
   color: burlywood;
}
.footer__main {
   background-color: #292c2f;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   min-width: 100%;
   text-align: left;
   font: normal 16px sans-serif;
   padding: 45px 50px;
}
.footer__main .footer-left p {
   color: #8f9296;
   font-size: 14px;
   margin: 0;
}
.footer__main p.footer-links {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   margin: 0 0 10px;
   padding: 0;
   transition: ease 0.25s;
}
.footer__main p.footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
   transition: ease 0.25s;
}
.footer__main .footer-links a:before {
   content: "·";
   font-size: 20px;
   left: 0;
   color: #fff;
   display: inline-block;
   padding-right: 5px;
}
.footer__main .footer-links .link-1:before {
   content: none;
}
.footer__main .footer-right {
   float: right;
   margin-top: 6px;
   max-width: 180px;
}
.footer__main .footer-right a {
   display: inline-block;
   width: 35px;
   height: 35px;
   background-color: white;
   border-radius: 4px;
   font-size: 20px;
   color: #ffffff;
   text-align: center;
   line-height: 35px;
   margin-left: 3px;
   transition: all 0.25s;
   padding-top: 2px;
}
.footer__main .footer-right a:hover {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
}
.footer__main p.footer-links a:hover {
   text-decoration: underline;
}
h1,
h2,
h3 {
   font-weight: bold;
}
h3 {
   font-size: 30px;
}
.photo__main {
   max-width: 1200px;
   max-height: 3200px;
}
.form__body {
   position: relative;
}
.form__body::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(51, 51, 51, 0.9) url("../img/hug.gif") center / 50px no-repeat;
   opacity: 0;
   visibility: hidden;
   transition: all 0.5s ease 0s;
}
.form__body._sending::after {
   opacity: 1;
   visibility: visible;
}
@media (max-width: 1142px) {
   #okno {
      width: 450px;
      height: 300px;
   }
}
@media (max-width: 729px) {
   #okno {
      width: 350px;
      height: 300px;
   }
}
@media (max-width: 420px) {
   #okno {
      width: 300px;
      height: 420px;
   }
   .input {
      margin-top: 5px;
   }
   .input__active {
      height: 70px;
      width: 220px;
   }
}
@media (max-width: 746px) {
}
@media (max-width: 874px) {
   .photo__main {
      max-width: 900px;
      max-height: 900px;
   }
   .menu-burger__header {
      position: relative;
      width: 40px;
      height: 35px;
      display: block;
      margin-left: 10px;
   }
   .menu-burger__header span,
   .menu-burger__header:after,
   .menu-burger__header:before {
      height: 3px;
      width: 100%;
      position: absolute;
      background: #515758;
      margin: 0 auto;
   }
   .menu-burger__header span {
      top: 16px;
   }
   .menu-burger__header:after,
   .menu-burger__header:before {
      content: "";
   }
   .menu-burger__header:after {
      bottom: 5px;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header:before {
      top: 5px;
      transition: all 0.4s ease 0s;
   }
   .header__nav {
      display: block;
      position: absolute;
      top: 55px;
      left: 0;
      background: rgb(245, 246, 246);
      box-shadow: #ccc;
      width: 100%;
      box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
      left: -100%;
      transition: all 0.5s ease;
   }
   .header__nav.open-menu {
      left: 0%;
   }
   .header__menu {
      display: block;
   }
   .header__menu li {
      margin: 40px 0px 40px 33px;
      font-size: 14px;
   }
   .menu-burger__header.open-menu span {
      opacity: 0;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header.open-menu:before {
      transform: rotate(38deg);
      top: 16px;
      transition: all 0.4s ease 0s;
   }
   .menu-burger__header.open-menu:after {
      transform: rotate(-38deg);
      bottom: 16px;
      transition: all 0.4s ease 0s;
   }
   .fixed-page {
      overflow: hidden;
   }
   .email {
      margin-top: 0px;
      padding: 0px;
      display: inline-block;
      color: indianred;
      background-color: rgb(245, 246, 246);
      font-family: "Roboto", Helvetica;
      font-size: 16px;
   }
}
@media (max-width: 1160px) {
   .header__logo {
      display: none;
   }
}
@media (max-width: 1202px) {
   .photo__main {
      max-width: 1280px;
      max-height: 1000px;
   }
}
@media (max-width: 932px) {
   .photo__main {
      max-width: 930px;
      max-height: 900px;
   }
}
@media (max-width: 852px) {
   .photo__main {
      max-width: 880px;
      max-height: 800px;
   }
}
@media (max-width: 752px) {
   .photo__main {
      max-width: 700px;
      max-height: 650px;
   }
}
@media (max-width: 642px) {
   .photo__main {
      max-width: 550px;
      max-height: 500px;
   }
}
@media (max-width: 482px) {
   .photo__main {
      max-width: 480px;
      max-height: 400px;
   }
}
@media (max-width: 382px) {
   .photo__main {
      max-width: 380px;
      max-height: 300px;
   }
}
@media (max-width: 1181px) {
   .photo__group {
      max-width: 600px;
      max-height: 500px;
   }
}
@media (max-width: 639px) {
   .photo__group {
      max-width: 500px;
      max-height: 450px;
   }
}
@media (max-width: 541px) {
   .photo__group {
      max-width: 400px;
      max-height: 350px;
   }
}
@media (max-width: 443px) {
   .photo__group {
      max-width: 280px;
      max-height: 230px;
   }
}
@media (max-width: 583px) {
   .photo__second {
      max-width: 350px;
      max-height: 300px;
   }
}
@media (max-width: 383px) {
   .photo__second {
      max-width: 300px;
      max-height: 250px;
   }
}
